@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

/* ------------------------------ Global */
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-top: 166px; 

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* ------------------------------ Heading */

.logo {
    background: url("../images/cvm_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
    min-width: 197px;
}

#spy {
    background-color: #FFF8E6;
}

.menuitem {
    font-weight: 700;
    font-size: 20px;
}

.menuitem span {
    color: #007A87;
}

.menulink.active {
    background-color: #FFCB4D !important;
}

/* ------------------------------ Sections */

.section-heading {
    font-weight: 700;
    color: #007A87;
    text-transform: uppercase;
}

.section-subheading {
    font-weight: 500;
    color: #007A87;
    text-transform: uppercase;
}

.section-1a {
    font-weight: 700;
    text-align: right;
    background-color: #FFCB4D;
    color: #ffffff;
}

.section-1a-rowmain {
    font-size: 38px;
}

.section-1a-rowsub {
    font-size: 23px;
}

.section-course-description {
    color: #007A87;
    padding: 30px 30px;
}

.coordinates {
    font-weight: 700;
}

.text-highlight {
    color: #007A87;
}

.card-custom {
    border: 1px solid #FFCB4D;
}

.card-header-custom {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #FFCB4D;
    border-bottom: 2px solid #FFCB4D;
}

.card-header-text {
    margin-bottom: 0;
    color: #007A87;
    font-weight: 700;
}

.card-footer-custom {
    background-color: #FFCB4D;
    border-top: 1px solid #FFCB4D;
}

.card-button-custom {
    color: #007A87;
    border: 3px solid #007A87;
    font-weight: 700;
}

.card-button-custom:hover {
    color: #66AFB7;
}

.section-sponsors {
    background-color: #FFCB4D;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control-custom {
    margin: .75rem 0;
    background-color: #FFF8E6;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #007A87;
    background-color: #FFCB4D;
    border: 3px solid #007A87;
    font-weight: 700;
}

button[type="submit"]:hover {
    color: #66AFB7;
    background-color: #FFCB4D;
}

/* ------------------------------ Footer */

footer {
    background-color: #FFCB4D;
    color: #007A87;
    margin: 0;
}

footer p {
    font-size: 0.75rem;
}

footer .heading {
    font-weight: 500;
    text-transform: uppercase;
}

footer a {
    color: #007A87;
}

footer a:hover {
    color: #66AFB7;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #FFCB4D;
    background: #007A87;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #66AFB7;
}

/* ------------------------------ Media Queries */

@media(max-width: 767px) {
    .menulink {
        padding-left: 0.5rem !important;
    }

    .menuitem {
        width: 145px;
    }

    .section-1b {
        display: none;
    }
}

@media(min-width: 768px) {
    .section-1b {
        background-image: url("../images/sailing_fast.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
        bottom: 0px;
    }

    .section-course {
        background-image: url("../images/map.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: auto;
        min-height: 600px;
        bottom: 0px;
        max-width: 1280px;
    }
    
}