@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');

/* ------------------------------ Global */
body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-top: 166px; 

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* ------------------------------ Heading */

.logo {
    background: url("../images/cvm_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
    min-width: 197px;
}

#spy {
    background-color: #CCE4E7;
}

.menuitem {
    font-weight: 700;
    font-size: 20px;
}

.menuitem span {
    color: #FFB400;
}

.menulink.active {
    background-color: #007A87 !important;
}

/* ------------------------------ Sections */

.section-heading {
    font-weight: 900;
    color: #FFB400;
    text-transform: uppercase;
}

.section-subheading {
    font-weight: 500;
    color: #FFB400;
    text-transform: uppercase;
}

.section-1a {
    font-weight: 900;
    text-align: right;
    background-color: #007A87;
    color: #ffffff;
}

.section-1a-rowmain {
    font-size: 38px;
}

.section-1a-rowsub {
    font-size: 23px;
}

.text-highlight {
    color: #FFB400;
}

.card-custom {
    border: 1px solid #007A87;
}

.card-header-custom {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #007A87;
    border-bottom: 2px solid #007A87;
}

.card-header-text {
    margin-bottom: 0;
    color: #FFB400;
    font-weight: 700;
}

.card-footer-custom {
    background-color: #CCE4E7;
    border-top: 1px solid #007A87;
}

.card-button-custom {
    color: #FFB400;
    border: 3px solid #FFB400;
    font-weight: 900;
}

.card-button-custom:hover {
    color: #007A87;
}

.section-4 {
    background-color: #007A87;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #FFB400;
    background-color: #007A87;
}

/* ------------------------------ Footer */

footer {
    background-color: #007A87;
    color: #FFB400;
    margin: 0;
}

footer p {
    font-size: 0.75rem;
}

footer .heading {
    font-weight: 500;
    text-transform: uppercase;
}

footer a {
    color: #FFB400;
}

footer a:hover {
    color: #FFDA80;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #007A87;
    background: #FFB400;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #FFDA80;
}

/* ------------------------------ Media Queries */

@media(max-width: 767px) {
    .menulink {
        padding-left: 0.5rem !important;
    }

    .menuitem {
        width: 145px;
    }

    .section-1b {
        display: none;
    }
}

@media(min-width: 768px) {
    .section-1b {
        background-image: url("../images/sailing_fast.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
        bottom: 0px;
    }
}